/*Style your own assignment! This is fun! */body {
	/*background-image: url(background_picture.jpg);*/
	background-size: cover;
	font-family: Arial;

}

@font-face {
	font-family: Caveat;
	src: url(caveat-regular.ttf);
}
div.header{
	background-image:url(horoscope_bg.jpg);
	background-size: auto;
	font-family: Caveat;
	font-size: 1.5em;
	color: white;
	
}
.button {
	text-align: center;
	background-color: #4d0099;
	font-family: Caveat;
	font-size: 1.4em;
	color: white;
	border-radius: 20%;
	padding: 10px 20px;
}
	